<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: admin-header('Roster Guru - Rosters')">
</head>
<body>
	<div th:replace="fragments/nav :: nav-admin-top"></div>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="fragments/nav :: nav-admin-side"></div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<div th:replace="fragments/alerts :: alerts"></div>
				<!-- content goes here -->
				
				<h1 class="page-header">Duty</h1>
				<form th:action="@{/admin/duties}" th:object="${duty}" method="POST">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					<input type="hidden" th:field="*{id}" />
					<input type="hidden" th:field="*{sortOrder}" />
					<div class="form-group">
						<label for=name>Name</label>
						<input type="text" th:field="*{name}" class="form-control" placeholder="Scripture Reading" />
						<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('name')}">
							<a href="#" class="close" data-dismiss="alert">&times;</a>
							<div th:errors="*{name}"></div>
						</div>
					</div>
					<div class="form-group">
						<label for="description">Description</label>
						<input type="text" th:field="*{description}" class="form-control" placeholder="Reads section of scripture to congregation" />
						<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('description')}">
							<a href="#" class="close" data-dismiss="alert">&times;</a>
							<div th:errors="*{description}"></div>
						</div>
					</div>
					
					<button th:if="${duty.id != null && duty.id > 0}" type="button" class="btn btn-warning" id="deleteMe">Delete Duty</button>
					<button type="submit" class="btn btn-default">Save</button>
				</form>
				
			</div>
		</div>
		
	</div>
	<div th:replace="fragments/footer :: footer-admin"></div>
	<script>
		/**
		Delete logic - todo: clean this up - hideous
		**/
		$("#deleteMe").click(function(e, btn){
			bootbox.confirm("Are you sure you want to delete this Duty type?", function(result) {
				if(result){
					var csrfParameter = $("meta[name='_csrf_parameter']").attr("content");
					var csrfHeader = $("meta[name='_csrf_header']").attr("content");
					var csrfToken = $("meta[name='_csrf']").attr("content");
					
					var headers = {};
					headers[csrfHeader] = csrfToken;
					
					var id = $('#id').val();
					$.ajax({
						type: "DELETE",
						contentType: "application/json",
						dataType: 'json',
						url: WEB_ROOT() + "/api/duty",
						headers: headers,
						data: JSON.stringify({'id': id}),
						success: function(data){
							if(data && data['response'] === 'OK'){
								bootbox.alert("Deleted successfully!", function() {
									window.location.href = WEB_ROOT() + "/admin/duties/";
								});
							} else {
								bootbox.alert("Delete failed!");
							}
						}
					});
				}
			}); 
		});
	</script>
</body>
</html>