# see http://docs.travis-ci.com/user/languages/java/
language: java
jdk:
  - oraclejdk8
git:
   depth: 9999999
install: true
addons:
   sonarcloud: 
      organization: "davidkey-github"
      token: 
         secure: ${SONAR_TOKEN}
script:
 - "mvn clean package"
 - sonar-scanner
after_success:
   - python <(curl -s https://raw.githubusercontent.com/TouK/sputnik-ci/master/sputnik-ci.py)
