<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en" th:fragment="header(title)">
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="_csrf" th:content="${_csrf.token}"/>
		<meta name="_csrf_header" th:content="${_csrf.headerName}"/>

		<link rel="stylesheet" type="text/css" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
			th:href="@{/resources/css/themes/bootstrap.css}" />
		
		<title th:text="${title}"></title>
		
		<script type="text/javascript" th:inline="javascript">
			var WEB_ROOT = function(){
				return /*[[@{/}]]*/ '/';
			}
			
			/* Stupid hack to fix tomcat / jboss bug. Won't be an issue in future releases... */
			function reloadIfjSessionIdSet(){
				var url = /*[[@{/lib}]]*/;
				
				if(url.indexOf('jsessionid=') >= 0){
					location.reload();
				}
			}
			
			reloadIfjSessionIdSet();
		</script>
	</head>
</html>