<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" class="full">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>

	<link rel="stylesheet" type="text/css" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
		th:href="@{/resources/css/themes/bootstrap.css}" />
		
	<link rel="stylesheet" type="text/css" media="all" href="/resources/css/cover.css" 
		th:href="@{/resources/css/cover.css}" />
	
	<title>Roster Guru - Welcome</title>
	
	<script type="text/javascript">
		var WEB_ROOT = function(){
			/*<![CDATA[*/
	        return '[[@{/}]]';
	    	/*]]>*/
			
		}
		
		/* Stupid hack to fix tomcat / jboss bug. Won't be an issue in future releases... */
		function reloadIfjSessionIdSet(){
			/*<![CDATA[*/
			var url = '[[@{/resources}]]';
			/*]]>*/
			
			if(url.indexOf('jsessionid=') >= 0){
				location.reload();
			}
		}
		
		reloadIfjSessionIdSet();
	</script>
</head>
<body>
	<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div class="cover-container">
				<div class="masthead clearfix">
					<div class="inner">
						<h3 class="masthead-brand">Roster.Guru</h3>
						<nav>
							<ul class="nav masthead-nav">
								<li class="active"><a href="#">Home</a></li>
								<li><a href="#">Features</a></li>
								<li><a href="mailto:davidkey@gmail.com">Contact</a></li>
								<li sec:authorize="isAuthenticated()">
									<a th:href="@{/user}">Control Panel &mdash; <span sec:authentication="principal.person.nameFirst">FirstName</span> </a>
								</li>
								<li sec:authorize="isAnonymous()"><a href="/setup" th:href="@{/setup}">Sign Up</a></li>
								<li sec:authorize="isAnonymous()"><a href="/login" th:href="@{/login}">Log In</a></li>
							</ul>
						</nav>
					</div>
				</div>

				<div class="inner cover">
					<h1 class="cover-heading">Roster.Guru</h1>
					<p class="lead">Roster Guru is designed to take the pain out of
						generating and maintaining duty rosters.</p>
					<p class="lead">
						<a href="#" class="btn btn-lg btn-default">Learn more</a>
					</p>
				</div>

				<div class="mastfoot">
					<div class="inner">
						<p>
							By <a href="mailto:davidkey@gmail.com">David Key</a> &copy; 2018
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div th:replace="fragments/footer"></div>
</body>
</html>